/*********************************************
 Main home banner customizations
 *********************************************/


/* If you want to add a background image to the home page banner instead of using a solid color.
Just un comment the #banner rule below. */
#banner {
  background-image: url(/Users/shelbyparker/Documents/GitHub/project-hope-foundation/images/headerfaded.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 15px #333;
  text-align: center;
  cursor: default;
  padding: 10em 4em 20em 4em;
}



/* If you want to change the banner button color. The following two css rules use a class called "redbtn".
You can call the class whatever you want, but in order for it to work, it needs to be
added to the button in the index html file as well.*/
#banner .button.redbtn {
  background-color: rgba(188, 46, 26, 1);
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(188, 46, 26, .8);
}



/*********************************************
 Write your css customizations below
 *********************************************/


/* Typefaces
  Title: Rubik
  Body Copy: Roboto
Primary Colors:
  dark blue: rgba(51,101,128,1)
  light blue: rgba(167,198,218,1)
  yellow: rgba(255,220,44,1)
  dark gray: rgba(29,30,36,1) */
